{% load thumbnail %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to {{ store_name }}</title>
</head>
<body>
    <header>
        <!-- Display your logo -->
        {% thumbnail 'image.jpeg' '300x200' crop as my_thumbnail %}
        <img src="{{ my_thumbnail.url }}" alt="My Image">
        
        <!--h1>{{ store_name }}</h1>
        <img src="{% static 'image.jpeg' %}" alt="My Image"-->

    </header>
    
    <main>
        <!-- Add more content here as needed -->
    </main>
    
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
