# Ignore virtual environment
venv/

# Ignore SQLite database file
db.sqlite3

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local settings
*/settings/local.py

# Ignore media and static files
media/
staticfiles/

# Ignore secret key
*.secret_key

# Ignore IDE files
.vscode/
.idea/
*.iml

venv/
.store
